﻿@model IEnumerable<Domain.Experience>

@{
    ViewData["Title"] = "Work Experience";
}
<br />
<br />
<br />
<p>@ViewData["Message"]</p>
<section class="resume-section">
    <section class="table">
        <table width="1000" height="200" class="subheading mb-5">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFrom.Year)
                            -
                            @Html.DisplayFor(modelItem => item.DateUntil.Year)
                        </td>
                        <td>
                            <span class="text-dark">
                                @Html.DisplayFor(modelItem => item.InstitutionName) ,
                            </span>
                            @Html.DisplayFor(modelItem => item.InstitutionLocation)                            
                        </td>
                        <td>
                            - @Html.DisplayFor(modelItem => item.Information)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>
