﻿@{
    ViewData["Title"] = "Home Page";
}


<section class="resume-section p-3 p-lg-5 d-flex d-column">
    <div>
        <div class="subheading mb-5">
            <table width="550">
                <tr>
                    <th>First name : </th>
                    <th class="text-dark"> @ViewData["FirstName"]</th>

                </tr>
                <tr>
                    <th>Last name : </th>
                    <th class="text-dark">@ViewData["LastName"]</th>
                </tr>
                <tr>
                    <th>Address : </th>
                    <th class="text-dark"> @ViewData["Address"]</th>
                </tr>
                <tr>
                    <th>Phone nr. : </th>
                    <th class="text-dark"> @ViewData["PhoneNr"]</th>
                </tr>
                <tr>
                    <th>E-Mail : </th>
                    <th class="text-dark"><a href="mailto:name@email.com">@ViewData["Email"]</a></th>
                </tr>
            </table>
        </div>
        @* Forgot to add the bitbucket link to the DB *@
        <p class="mb-5">Bitbucket: <a href="https://bitbucket.org/HenrikPrangel"> My other projects</a></p>
        <p class="mb-5"> @ViewData["PersDesc"]</p>
    </div>
    </section>