﻿@model IEnumerable<Domain.Language>

@{
    ViewData["Title"] = "Languages";
}


<br />
<br />
<br />
<p> My language related abilities on a scale of 0-5</p>
<p> With proof of said ability</p>
<section class="resume-section">
    <section class="table">
        <table class="subheading mb-5" width="1000">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>
                    </th>
                    <th>
                        Understanding
                    </th>
                    <th>
                        Speaking
                    </th>
                    <th>
                        Writing
                    </th>
                    <th>
                        
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table">
                @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.LanguageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Understanding)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Speaking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Writing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </section>
</section>