﻿@model IEnumerable<Domain.Skills>

@{
    ViewData["Title"] = "Skills";
}

<br />
<br />
<br />
<p> (The measurement system used is completely made up by me, and is based on my own assumptions on beginner level programming.)</p>
<p >
    <span class="text-dark">STUDY TIME </span> - for most part, this means how much emphasis and time has been put on the mentioned topic,
    in school, and how much time i myself have devoted to studying it
</p>
<p >
    <span class="text-dark">HOW I FEEL USING</span> - shows how i feel about my skills with the mentioned technology,
    considering I'm a beginner (Comfortable meaning i feel that my skill level is sufficient for where I'm at, insecure meaning
    that more studying and skill improvement needs to be done)
</p>

<section class="resume-section">
    <section class="table">
        <table class="subheading mb-5" width="1000">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>
                    </th>
                    <th>
                        Study Time
                    </th>
                    <th>
                        How i feel using
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudyTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opinion)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>

